<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>
    <body>
        <main class="container">
            <section class="homepage">
                <div class="banner">
                    <div class="bg-homepage">
                        <div class="homepage-caption">
                            <h4 class="subtitle">Find Your Home</h4>
                            <h1 class="title">
                                Find Your <br />
                                Happy Place <br />
                                With Us
                            </h1>
                            <a href="#" class="btn primary">Go</a>
                        </div>
                        <img
                            src="/public/assets/images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg"
                            alt=""
                            class="homepage-image"
                        />
                        <ul class="homepage-details">
                            <li class="list">
                                <h1 class="title">450+</h1>
                                <h3 class="subtitle">Property Ready</h3>
                            </li>
                            <li class="list">
                                <h1 class="title">200</h1>
                                <h3 class="subtitle">Awards Winning</h3>
                            </li>
                            <li class="list">
                                <h1 class="title">240+</h1>
                                <h3 class="subtitle">Happy Customer</h3>
                            </li>
                        </ul>
                    </div>
                    <fieldset class="fieldset">
                        <form class="form" action="">
                            <div class="input-form">
                                <label for="location">Location</label>
                                <input type="text" id="location" />
                            </div>
                            <div class="input-form">
                                <label for="price">Price</label>
                                <input type="number" id="price" />
                            </div>
                            <div class="input-form">
                                <button class="btn primary">Search</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div class="view">
                    <figcaption class="view-details">
                        <h1 class="title">Most Viewed</h1>
                        <p class="subtitle">
                            Discover a range of vacation homes worldwide. Book
                            securely and get expert customer support for
                            stress-free stay
                        </p>
                    </figcaption>
                    <ul class="card">
                        <li class="list">
                            <a href="">
                                <img src="" alt="" class="img" />
                                <figcaption class="list-detalis">
                                    <h1 class="title"></h1>
                                    <h4 class="subtitle"></h4>
                                </figcaption>
                            </a>
                        </li>
                        <li class="list">
                            <a href="">
                                <img src="" alt="" class="img" />
                                <figcaption class="list-detalis">
                                    <h1 class="title"></h1>
                                    <h4 class="subtitle"></h4>
                                </figcaption>
                            </a>
                        </li>
                        <li class="list">
                            <a href="">
                                <img src="" alt="" class="img" />
                                <figcaption class="list-detalis">
                                    <h1 class="title"></h1>
                                    <h4 class="subtitle"></h4>
                                </figcaption>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <script>
            let lists = document.querySelectorAll("#nav .list");

            function ActiveLink() {
                lists.forEach((list) => list.classList.remove("active"));
                this.classList.add("active");
            }

            lists.forEach((list) => list.addEventListener("click", ActiveLink));

            const HeaderScroller = () => {
                return this.scrollY >= 200
                    ? document.querySelector("header").classList.add("scroller")
                    : document
                          .querySelector("header")
                          .classList.remove("scroller");
            };

            window.addEventListener("scroll", HeaderScroller);
        </script>
    </body>
</html>
